In [1]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()



create_connection("amd_sse.db")

2.6.0

In [32]:
conn.close()

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [3]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [7]:
def alter_table(conn, alter_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(alter_table_sql)
    except Error as e:
        print(e)

In [12]:
def main():
    database = "amd_sse.db"
    '''
        sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS Mission_executee (
                                            id integer PRIMARY KEY,
                                            mission text NOT NULL,
                                            date_derniere_action text,
                                            champ_activite_derniere_action text,
                                            Volume_travail_total INTEGER NOT NULL
                                        ); """

        sql_create_tasks_table = """CREATE TABLE IF NOT EXISTS Mission_planfiee (
                                        id integer PRIMARY KEY,
                                        mission NOT NULL,
                                        Date_debut text,
                                        date_fin text,
                                        experts_concernes text,
                                        champs_activites_programmes text
                                    );"""
    '''
    sql_create_tasks_table = """ALTER TABLE Expert_activite ADD nom text"""
    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create projects table
        alter_table(conn, sql_create_tasks_table)

        # create tasks table
#        create_table(conn, sql_create_tasks_table)
    else:
        print("Error! cannot create the database connection.")

In [13]:
main()

In [21]:
conn = None
sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS Action_executee (
                                    id integer PRIMARY KEY,
                                        expert text NOT NULL,
                                        date text,
                                        mission text,
                                        champ_activites text,
                                        temps_travail INNTEGER NOT NULL,
                                        lieu text
                                    ); """
    
    
    
    
try:
    conn = sqlite3.connect("amd_sse.db")
    print(sqlite3.version)
except Error as e:
    print(e)

sql = "DROP TABLE Action_executee"
c = conn.cursor()
c.execute(sql)

2.6.0

In [2]:

import bcrypt
 
# Declaring our password
password = b'GeekPassword'
 
# Adding the salt to password
salt = bcrypt.gensalt()
# Hashing the password
hashed = bcrypt.hashpw(password, salt)
 
# printing the salt
print("Salt :")
print(salt)
 
# printing the hashed
print("Hashed")
print(hashed)

Salt :
b'$2b$12$Rtb1tnugIpfmtBD.DTy9uO'
Hashed
b'$2b$12$Rtb1tnugIpfmtBD.DTy9uOvt3ILrDDIcFVzqT8WmC9GGtl753QUM6'